<table class="table">
  <thead>
   <th>ID</th>
   <th>Branch</th>
   <th>Description</th>
   <th></th>
   <th>Path to Logs</th>
  </thead>
  <tbody>
  <tr>
   <td><%= @driver_drop.id %></td>
   <td><%= @driver_drop.branch %></td>
   <td><%= @driver_drop.description %></td>
   <td>
    <div class="btn-group">
     <button class="btn btn-danger">Work On Drop Here</button>
     <button class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
     <span class="caret"></span>
     </button>
       <ul class="dropdown-menu">
       <li>
        <a href= <%= new_package_path %> >Package Diver Drop</a>
       </li>
       <li>
        <a href= <%= driver_drop_path(@driver_drop, :action => 'send_mail') %> >Create Drop Mail</a>
       </li>
       <li>
        <a href= <%= new_driver_drop_log_path(@driver_drop)%> >Upload Test Logs</a>
       </li>
       <li>
       <li class="divider"></li>
       <li>
        <li>
        <a href= <%= edit_driver_drop_path(@driver_drop) %> >Edit Drop Details</a>
       </li>
       </ul>
    </div>
   </td>
   <td>
    <%= form_for @driver_drop do |f| %>
    32bit: <%= f.text_field :logpath %> <br>
    64bit: <%= f.text_field :x64logpath %> <br>
     <input class="btn btn-primary" type="submit" value="Git'er done">
    <%end%>
   </td>
   </tr>
 </tbody>
</table>
<br>
<br>
<br>
<br>
<br>

<table class="table">
<thead>
  <th>x86 Failures</th>
  <th>Command Line</th>
  <th>Bug Number</th>
</thead>
<tbody>
  <tr>
   <% @x86log.each do |x| %> 
    <tr><td> id:<%= x.id %>  <%= x.name %>  </td><td>    <%= x.cmdline %></td><td></td></tr>
    <% end %>
  </tr>
</tbody>
</table>

<table class="table">
<thead>
    <th>x64 Failures</th>
    <th>Command Line</th>
    <th>Bug Number</th>
</thead>
<tbody>
  <tr>
   <% @x64log.each do |x| %> 
   <tr> <td> id:<%= x.id %>  <%= x.name %></td><td><%= x.cmdline %></td><td></td></tr>
    <% end %>   
  </tr>
</tbody>
</table>
<table class="table">
<thead>
    <th>Unknown Platform in Log</th>
    <th>Command Line</th>
    <th>Bug Number</th>
</thead>
<tbody>
  <tr>
   <% @unknown.each do |u| %> 
   <tr> <td> id:<%= u.id %>  <%= u.name %></td><td><%= u.cmdline %></td><td></td></tr>
    <% end %>   
  </tr>
</tbody>
</table>
<p>
<p>
<br>
<br>
<br>
<p>

<%= @log.count %> Log files have been uploaded and processed for this driver drop.
<p>
<%= @log_nill_count %> Total number of log files with "unknown" platform. <br>
<script id="template-upload" type="text/x-tmpl">
<div class="upload">
  {%=o.name%}
  <div class="progress">
   <div class="bar" style="width: 0%"></div>
  </div>
</div>
</script>