<table class="table">
  <thead>
   <th>ID</th>
   <th>Branch</th>
   <th>Description</th>
   <th></th>
  </thead>
  <tbody>
  <tr>
   <td><%= @driver_drop.id %></td>
   <td><%= @driver_drop.branch %></td>
   <td><%= @driver_drop.description %></td>
   <td>
    <div class="btn-group">
     <button class="btn btn-danger">Work On Drop Here</button>
     <button class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
     <span class="caret"></span>
     </button>
       <ul class="dropdown-menu">
       <li>
        <a href= <%= new_package_path %> >Package Diver Drop</a>
       </li>
       <li>
        <a href="#">Create Drop Mail</a>
       </li>
       <li>
        <a href= <%= new_driver_drop_log_path(@driver_drop)%> >Upload Test Logs</a>
       </li>
       <li>
       <li class="divider"></li>
       <li>
        <li>
        <a href= <%= edit_driver_drop_path(@driver_drop) %> >Edit Drop Details</a>
       </li>
       </ul>
    </div>
   </td>
   </tr>
 </tbody>
</table>
<p>
<h2><u><%= @driver_drop.branch %>Log Files</u></h2>

<table class="table">
<thead>
  <tr>
<th>x86 Failures</th>
</tr>
<tr>
<th>x64 Failures</th>
</tr>
<tr>
<th><h3>Unknown Platform Failures<h3></th>
</tr>
</thead>
<tbody>
 <% @log.where(:passfail => "failed" , :platform => "x86").each do |l| %>
    <tr>
     <td> <strong>Name:</strong>   <%= l.name %>   <%= l.platform %><br></td>
    </tr>
    <% end %>
    
    <% @log.where(:passfail => "failed" , :platform => "AMD64").each do |l| %>
    <tr>
     <td><strong>Name:</strong>    <%= l.name %>   <%= l.platform %><br></td>
    </tr>
   <% end %>

   <% @log.where(:passfail => "failed" , :platform => nil ).each do |l| %>
    <tr>
     <td><%= l.name %>   <%= l.platform %><br></td>
    </tr>
   <% end %>
</tbody>
</table>
<p>
<p>
<p>
<%= @log.count %> Log files have been uploaded and processed for this driver drop.
<p>
<%= @log.where(:platform => nil).count %> Total number of log files with "unknown" platform.